# CONFIGURAÇÕES DO SUPABASE
SUPABASE_URL=https://fbvvdyirhtgvycullsqy.supabase.co
SUPABASE_KEY=

# CONFIGURAÇÕES DO GOOGLE SHEETS
GOOGLE_CREDS_PATH=G:\Outros computadores\Meu laptop\Concrefer\Relatórios Automatizados\Credenciais\sheetsautomacao-477114-9b74d04e460f.json
SPREADSHEET_ID=1nEqNCdk-LoCq8lNeA5t02W3AJIvyfhtX0IeWSYHYEgY

# CONFIGURAÇÕES DO WHATSAPP (OPCIONAL / EVOLUTION API / WEBHOOK)
WHATSAPP_API_URL=
WHATSAPP_TOKEN=
WHATSAPP_PHONE=

# CONFIGURAÇÕES DO AGENTE
DRY_RUN=true
PORT=5000
